<div data-extend-template="modules/app.html">

<ul class="page-breadcrumb breadcrumb" data-block="page-breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="#/">Αρχική Σελίδα</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>Ιστορικό εκδόσεων λογισμικού</li>
</ul>

<!-- BEGIN DASHBOARD STATS -->
<div class="row" data-block="content">

<div class="container">

<div class="row margin-bottom-40">

    <div class="col-md-12 col-sm-12">

        <!------------------------------------------------------------------------------------->
        <!-- IMPORTANT: Remember to update ../home/home.html when the release log is updated -->
        <!------------------------------------------------------------------------------------->
        <h3 class="form-section text-success"><i class="fa fa-tags"></i>Έκδοση MyProduct v0.9.0</h3>
        <h5><strong>Ημερομηνία έκδοσης:</strong> 1 Απριλίου 2015</h5>
        <p>Βασικές νέες δυνατότητες αυτής της έκδοσης:</p>

        <ul>
            <li>
                <dl>
                    <dt>Βελτιώσεις στην Στατιστική</dt>
                    <dd>
                        <ul>
                            <li>Προστέθηκαν <strong>"ημερολογιακά"</strong> κριτήρια και αντίστοιχες
                                επιλογές ομαδοποίησης για να μπορούμε να φιλτράρουμε τα
                                στοιχεία με βάση το έτος, το τρίμηνο, την ημέρα κίνησης κ.λπ. Αυτό δίνει
                                τη δυνατότητα να δούμε εύκολα συγκριτικά αποτελέσματα</li>
                        </ul>
                    </dd>
                    <br><i class="fa fa-youtube-play text-danger"></i> <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">MyProduct v0.9 Νέα κριτήρια στην στατιστική</a>
                </dl>
            </li>
        </ul>

    </div>

</div>
<!-- END ROW-->

</div>
</div>
</div>
