<div data-extend-template="modules/app.html">

    <ul class="page-breadcrumb breadcrumb" data-block="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Αρχική Σελίδα</a>
        </li>
    </ul>

    <!-- BEGIN DASHBOARD STATS -->
    <div class="row" data-block="content">

        <div class="container">

            <h3>
                Καλώς ήρθατε στο MyProduct<br><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</small>
            </h3>


            <div class="row margin-bottom-40">
                <!--COLUMN 1-->
                <div class="col-md-6 col-sm-6">
                    <div ng-if="hasAnyRole(['statistics_viewer', 'statistics/flights_viewer','statistics/eurostat_viewer','aircraftMovementReports_editor','aircraftMovements_viewer','aircrafts_viewer','airports_viewer','airlines_viewer','countries_viewer','aircraftTypes_viewer'])">
                        <h3 class="form-section text-primary"><i class="fa fa-link"></i> Συντομεύσεις για τις βασικές λειτουργίες</h3>
                        <p>
                            Πλοηγηθείτε γρήγορα στην λειτουργία που σας ενδιαφέρει χρησιμοποιώντας τις παρακάτω συνδέσεις:
                        </p>
                        <a ng-if="hasRole('roleGroups_viewer')" href="#/roleGroups" class="icon-btn">
                            <i class="fa fa-sitemap"></i>
                            <div>Ρόλοι</div>
                        </a>
                        <a ng-if="hasRole('entityRevisions_viewer')" href="#/entityRevisions" class="icon-btn">
                            <i class="fa fa-backward"></i>
                            <div>Ιστορικό</div>
                        </a>
                    </div>

                    <div>
                        <h3 class="form-section text-success"><i class="fa fa-tags"></i>Έκδοση MyProduct v0.9.0</h3>
                        <h5><strong>Ημερομηνία έκδοσης:</strong> 1 Απριλίου 2015</h5>
                        <p>Βασικές νέες δυνατότητες αυτής της έκδοσης:</p>

                        <ul>
                            <li>
                                <dl>
                                    <dt>Βελτιώσεις στην Στατιστική</dt>
                                    <dd>
                                        <ul>
                                            <li>Προστέθηκαν <strong>"ημερολογιακά"</strong> κριτήρια και αντίστοιχες
                                                επιλογές ομαδοποίησης για να μπορούμε να φιλτράρουμε τα
                                                στοιχεία με βάση το έτος, το τρίμηνο, την ημέρα κίνησης κ.λπ. Αυτό δίνει
                                                τη δυνατότητα να δούμε εύκολα συγκριτικά αποτελέσματα</li>
                                        </ul>
                                    </dd>
                                    <br><i class="fa fa-youtube-play text-danger"></i> <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">MyProduct v0.9 Νέα κριτήρια στην στατιστική</a>
                                </dl>
                            </li>
                        </ul>

                        <a href="#/rlslog">Περισσότερα...</a>

                    </div>

                </div>
                <!--COLUMN 2-->
                <div class="col-md-6 col-sm-6">

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h3 class="form-section text-danger"><i class="fa fa-bug"></i> Αναφορά προβλημάτων και υποστήριξη</h3>

                            <div class="row">
                                <div class="col-sm-9">
                                    <dl>
                                        <dt>Ζωντανή συνομιλία</dt>
                                        <dd>
                                            Δεν βρήκατε απάντηση στη βοήθεια; Πατήστε το μικρόφωνο και μπείτε στην
                                            ζωντανή συνομιλία. Περιμένετε λίγο και ο πρώτος διαθέσιμος εκπρόσωπος
                                            θα σας απαντήσει.
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-sm-2 margin-top-20">
                                    <a href="https://appear.in/mycompany/myproduct" target="_blank">
                                        <i class="fa fa-microphone fa-3x margin-top-20"></i>
                                    </a>
                                </div>
                            </div>

                            <dl>
                                <dt>Αναφορά προβλημάτων και προτάσεων βελτίωσης</dt>
                                <dd>Μπορείτε να καταχωρήσετε τα προβλήματα που συναντάτε κατά την χρήση της εφαρμογής
                                    στο σύστημα παρακολούθησης προβλημάτων της MyCompany.

                                    <ul>
                                        <li><a href="https://support.ist.com.gr/bugzilla/enter_bug.cgi?product=MyProduct" target="_blank">
                                            Αναφορά νέου προβλήματος</a></li>
                                        <li><a href="https://support.ist.com.gr/bugzilla/buglist.cgi?query_format=specific&order=relevance%20desc&bug_status=__open__&product=MyProduct&list_id=19826" target="_blank">
                                            Εμφάνιση όλων των ανοικτών θεμάτων</a></li>
                                        <li><a href="https://support.ist.com.gr/bugzilla/docs/en/html/using.html" target="_blank">
                                            Οδηγίες Χρήσης</a></li>
                                    </ul>

                                    Θα πρέπει να συνδεθείτε με τον κωδικό χρήστη που σας έχει δοθεί με
                                    email. Αν δεν έχετε κωδικό στείλτε email στο:
                                    <a href="mailto:myproduct@mycompany.gr?subject=Δημιουργία Χρήστη για Υποστήριξη">myproduct@mycompany.gr</a>


                                    <h5>Πώς αναφέρω ένα πρόβλημα;</h5>
                                    <p>Για να καταχωρήσετε ένα νέο αίτημα πρέπει να πλοηγηθείτε στην οθόνη καταχώρησης και αφού
                                        συμπληρώσετε τα παρακάτω στοιχεία να πατήσετε <strong>Submit Issue</strong>
                                        <br>(Επιλέξτε "Αναφορά νέου αιτήματος" από τις παραπάνω συνδέσεις για να μεταφερθείτε
                                        στην συγκεκριμένη φόρμα)
                                    </p>
                                    <ul>
                                        <li><strong>Severity</strong> Πόσο σημαντικό είναι το πρόβλημα</li>
                                        <li><strong>Summary</strong> Σύντομη περιγραφή του προβλήματος σε μία γραμμή</li>
                                        <li><strong>Description</strong> Αναλυτική περιγραφή του προβλήματος</li>
                                    </ul>
                                </dd>

                            </dl>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h3 class="form-section text-primary"><i class="fa fa-play-circle"></i> Εκπαιδευτικά βίντεο</h3>
                            <p>Για να δείτε τα παρακάτω βίντεο με αρκετή ευκρίνεια, επιλέξτε "πλήρη οθόνη" και στις ρυθμίσεις επιλέξτε "720p"</p>
                            <ul class="feeds">
                                <li><youtube vid="dQw4w9WgXcQ" label="Νέα κριτήρια στην στατιστική" duration="2:41" flag="v0.9"></youtube>
                                <li><youtube vid="dQw4w9WgXcQ" label="Δημιουργία γραφημάτων" duration="2:03" flag="v0.9"></youtube>
                                <li><youtube vid="dQw4w9WgXcQ" label="Γραφήματα - Παράδειγμα 1" duration="1:10" flag="v0.9"></youtube>
                                <li><youtube vid="dQw4w9WgXcQ" label="Γραφήματα - Παράδειγμα 2" duration="1:37" flag="v0.9"></youtube>
                            </ul>
                            <br>
                            <a href="#/help">Περισσότερα...</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END ROW-->

        </div>
    </div>
</div>
