<div class="page-header-fixed page-full-width">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top" ng-controller="MenuCtrl">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <a class="navbar-brand" href="#/">
        <img src="images/logo.png" alt="logo" class="img-responsive" style="max-height: 34px"/>
        <span>MyProduct</span>
            </a>
            <!-- END LOGO -->
            <!-- BEGIN HORIZONTAL MENU -->
            <div class="hor-menu hidden-xs">
                <ul class="nav navbar-nav">

                    <!-- GET MENU ITEMS FROM SERVICE -->
                    <li ng-repeat="item in menu.items" ng-class="item === menu.selectedItem ? 'active' : ''">
                        <a data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true" class="dropdown-toggle"
                           href ng-click="menu.navigate(item)">
                            <i ng-if="!menu.isAccessible(item, false) && item.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση" data-placement="bottom"></i>
                            <i ng-if="!item.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση" data-placement="bottom"></i>
                            {{item.itemName}}
                            <i ng-if="item.subMenu" class="fa fa-angle-down"></i>
                        </a>
                        <ul ng-if="item.subMenu" class="dropdown-menu"> <!--FIXME should set the class only when there are subitems-->
                            <li ng-repeat="subitem in item.subMenu" ng-class="subitem.subMenu ? 'dropdown-submenu' : ''">
                                <a href="" ng-click="menu.isAccessible(subitem) ? menu.navigate(subitem) : ''">
                                    <i ng-if="!menu.isAccessible(subitem, false) && subitem.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση"></i>
                                    <i ng-if="!subitem.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση"></i>
                                    {{subitem.itemName}}
                                </a>
                                <ul ng-if="subitem.subMenu" class="dropdown-menu">
                                    <li ng-repeat="subsubitem in subitem.subMenu">
                                        <a href="" ng-click="menu.isAccessible(subsubitem) ? menu.navigate(subsubitem) : ''">
                                            <i ng-if="!menu.isAccessible(subsubitem, false) && subsubitem.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση"></i>
                                            <i ng-if="!subsubitem.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση"></i>
                                            {{subsubitem.itemName}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="help/home.html" target="_blank">Βοήθεια</a>

                    </li>

                </ul>
            </div>
            <!-- END HORIZONTAL MENU -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars fa-2x"></i>
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->

            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <!--&lt;!&ndash; BEGIN NOTIFICATION DROPDOWN &ndash;&gt;-->
                <!--<li class="dropdown" id="header_notification_bar">-->
                    <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"-->
                        <!--data-close-others="true">-->
                    <!--<i class="fa fa-warning"></i>-->
                    <!--<span class="badge">3</span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu extended notification">-->
                        <!--<li>-->
                            <!--<p>Έχετε 3 νέες ειδοποιήσεις</p>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<ul class="dropdown-menu-list scroller" style="height: 250px;">-->
                                <!--<li>-->
                                    <!--<a href="">-->
                                    <!--<span class="label label-sm label-icon label-info"><i class="fa fa-plus"></i></span>-->
                                    <!--Αεροδρόμιο Κάρπαθος ολοκλήρωσε την καταχώρηση πτήσεων για 2013/01.-->
                                    <!--<span class="time">Πριν 5 λεπτά</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--&lt;!&ndash; FIXME <a href=""> &ndash;&gt;-->
                                    <!--<span class="label label-sm label-icon label-success"><i class="fa fa-bolt"></i></span>-->
                                    <!--Ολοκληρώθηκε η δημιουργία χρεώσεων ΤΧΑ για 2012/12.-->
                                    <!--<span class="time">25 λεπτά</span>-->
                                    <!--&lt;!&ndash; </a> &ndash;&gt;-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--&lt;!&ndash; FIXME <a href=""> &ndash;&gt;-->
                                    <!--<span class="label label-sm label-icon label-warning"><i class="fa fa-bell-o"></i></span>-->
                                    <!--Δεν έχει γίνει εισαγωγή στοιχείων από ΔΑΑ για 2012/12.-->
                                    <!--<span class="time">22 mins</span>-->
                                    <!--&lt;!&ndash; </a> &ndash;&gt;-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="external">-->
                            <!--<a href="">See all notifications <i class="m-icon-swapright"></i></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--&lt;!&ndash; END NOTIFICATION DROPDOWN &ndash;&gt;-->

                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" ng-src="images/avatars/{{userProfile.avatar ? userProfile.avatar+'.png' : 'gd.png'}}" width="29" height="29"/>
                    <span class="username">{{userProfile.fullName}}</span>
                    <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#userProfile"><i class="fa fa-user"></i> Προφίλ</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="logout()"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix"></div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN EMPTY PAGE SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu visible-sm visible-xs">

                <!-- GET MENU ITEMS FROM SERVICE -->
                <li ng-repeat="item in menu.items">
                    <a data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true" class="dropdown-toggle"
                       href="">
                        <i ng-if="!menu.isAccessible(item, false) && item.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση" data-placement="bottom"></i>
                        <i ng-if="!item.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση" data-placement="bottom"></i>
                        {{item.itemName}}
                        <span class="arrow open" ng-if="item.subMenu"></span>
                        <span class="selected"></span>
                    </a>
                    <ul ng-if="item.subMenu" class="sub-menu">
                        <li ng-repeat="subitem in item.subMenu">
                            <a href="">
                                <i ng-if="!menu.isAccessible(subitem, false) && subitem.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση"></i>
                                <i ng-if="!subitem.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση"></i>
                                {{subitem.itemName}}
                                <span class="arrow" ng-if="subitem.subMenu"></span>
                            </a>
                            <ul ng-if="subitem.subMenu" class="sub-menu">
                                <li ng-repeat="subsubitem in subitem.subMenu">
                                    <a href="">
                                        <i ng-if="!menu.isAccessible(subsubitem, false) && subsubitem.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση"></i>
                                        <i ng-if="!subsubitem.implemented" class="fa fa-lock app-menu-icon" bs-tooltip title="Απαγορεύεται η πρόσβαση"></i>
                                        {{subsubitem.itemName}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- END EMPTY PAGE SIDEBAR -->
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE -->
        <div class="page-content">

            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <ul class="page-breadcrumb breadcrumb" data-block="page-breadcrumb">
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->

            <div data-block="content" />

        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner">
            Σχεδιασμός &amp; Ανάπτυξη 2015- MyCompany
        </div>
    </div>
    <!-- END FOOTER -->
</div>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<!-- AMD: <script src="metronic/scripts/app.js" type="text/javascript"></script>
<script src="metronic/scripts/index.js" type="text/javascript"></script> -->
<!-- END PAGE LEVEL SCRIPTS -->
<!-- TODO: remove the following-->
<!-- AMD: <script>
    jQuery(document).ready(function() {
      App.init(); // init layout and core plugins
      Index.init();
      Index.initIntro();
      //MapsGoogle.init();
    });
</script> -->
<!-- END JAVASCRIPTS -->

