/* here you can put your own css to customize and override the various librarys styles e.g. bootstrap */

.navbar-brand {
	padding: 3px 15px;
}
.navbar-brand img {
	display: inline;
}
.navbar-brand span, .logo span {
	color: #E2D788;
	font-size: 24px;
	vertical-align: middle;
}

.page-content .page-breadcrumb.breadcrumb .dashboard-date-range {
	display: block;
}

.bg-white {
  background-image: none !important;
  background-color: white !important;
  border-color:#4b8df8 !important;
  color: red !important;
}

h3 [class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    margin-top: 1px;
    /*font-size: 14px;*/
    line-height: 14px;
}

.portlet > .portlet-title > .tools > a.icon > i {
    display: table-cell;
    color: indianred;
}

.modal-dialog {
    margin-top: 60px;
}

input[type="checkbox"] {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.page-content {
    min-height: 700px;
}