
/* Login form styles */
.login-form .help-block {
    color: #aa1506;
}

.login-form input.ng-invalid.ng-dirty {
    border-bottom-color: #aa1506;
    border-right-color: #aa1506;
    border-top-color: #aa1506;
}

/*override login.css to remove unnecessary border */
.login .content .form-actions {
    border-bottom: 0px solid black !important;
}

.app-menu-icon {
    margin-top: 10px;
    color: burlywood;
}

/* Stat files upload - start */

.statfile-droptarget {
    width: 100%;
    height: 100px;
    display: inline-block;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    /*vertical-align: middle;*/
    /*background-color: #e5bf94;*/
    color: #808080;
}
.statfile-droptarget:hover {
    /*background-color: #bd9e7b;*/
    color: #454545;
}

.folder-icon-decorator {
    width: 80px;
    height:80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.folder-icon-decorator i {
    font-size: 65px;
    line-height: 65px;
    color: #E6BF86;
}

/* Stat files upload - end */

.dashboard-stat .visual-small {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.dashboard-stat .visual-small i {
    font-size: 45px;
    line-height: 45px;
    color: #fff;
}

.btn-group.stat-reports {
    margin-top: -9px !important;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
}

tr .hover-action, .tile .hover-action {
    display:inline-block;
    visibility: hidden;
}

tr:hover  .hover-action, .tile:hover .hover-action {
    visibility: visible;
}

.corner:after {
    content: "";
    display: inline-block;
    border-left: 7px solid #ccbf78;
    border-bottom: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    left: 1px;
    top: 1px;
}

/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=number]::-webkit-outer-spin-button {*/
    /*-webkit-appearance: none;*/
    /*margin: 0;*/
/*}*/

form[name="entityForm"] .form-control.ng-dirty,form[name="entityForm"] .select2-container.form-control.ng-dirty {
    border-left: 5px solid #ccbf78 !important;
}

form[name="entityForm"] .form-control:focus, form[name="entityForm"] .select2-container.form-control.select2-container-active {
    border-left: 5px solid green !important;
}

.select2addon {
    color: #868686;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 17px;
    height: 34px;
    padding-top: 6px;
    padding-left: 4px;
}
.select2addon-mr {
    margin-right: -14px;
}

.numeric-field {
    text-align: right;
}
.full-height-portlet {
    height: 500px;
}

.form-control {
    border-radius: 4px !important;
}

.select2-container-multi .select2-choices {
    border-radius: 4px;
}
