<div data-extend-template="modules/app.html">

    <ul class="page-breadcrumb breadcrumb" data-block="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Αρχική Σελίδα</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>Βοήθεια</li>
    </ul>

    <div class="row" data-block="content">

        <div class="container">

                <div class="row margin-bottom-25">
                    <div class="col-md-12 col-sm-12">
                        <h3 class="form-section text-primary"><i class="fa fa-play-circle"></i> Εκπαιδευτικά βίντεο</h3>
                        <p>Για να δείτε τα παρακάτω βίντεο με αρκετή ευκρίνεια, επιλέξτε "πλήρη οθόνη" και στις ρυθμίσεις επιλέξτε "720p"</p>

                        <!--COLUMN 1-->
                        <div class="col-md-6 col-sm-6">

                            <ul class="feeds">
                                <li><youtube vid="dQw4w9WgXcQ" label="Νέα κριτήρια στην στατιστική" duration="2:41" flag="v0.9"></youtube>
                                <li><youtube vid="dQw4w9WgXcQ" label="Δημιουργία γραφημάτων" duration="2:03" flag="v0.9"></youtube>
                                <li><youtube vid="dQw4w9WgXcQ" label="Γραφήματα - Παράδειγμα 1" duration="1:10" flag="v0.9"></youtube>
                                <li><youtube vid="dQw4w9WgXcQ" label="Γραφήματα - Παράδειγμα 2" duration="1:37" flag="v0.9"></youtube>
                            </ul>
                        </div>

                        <!--COLUMN 2-->
                        <div class="col-md-6 col-sm-6">
                            <ul class="feeds">
                                <li><youtube vid="dQw4w9WgXcQ" label="Γραφήματα - Παράδειγμα 3" duration="1:10" flag="v0.9"></youtube>
                                <li><youtube vid="dQw4w9WgXcQ" label="Γραφήματα - Παράδειγμα 4" duration="1:37" flag="v0.9"></youtube>
                                <li><youtube vid="dQw4w9WgXcQ" label="Γραφήματα - Παράδειγμα 5" duration="1:10" flag="v0.9"></youtube>
                                <li><youtube vid="dQw4w9WgXcQ" label="Γραφήματα - Παράδειγμα 6" duration="1:37" flag="v0.9"></youtube>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
